@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND */

.box {
    @apply max-w-sm content-characters shadow-lg overflow-hidden mt-4 mb-6 row-span-3 text-gray-100 min-w-full h-48 min-h-full rounded;
}

.box-content {
    @apply w-full max-w-full inline-flex;
}

.box-image {
   @apply h-60 object-cover object-center w-2/5 2xl:w-2/6 xl:w-2/6;
}

.right-box {
    @apply w-full bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal;
}

.right-box-container {
    @apply mb-8 w-4/6;
}

.title-char {
    @apply text-gray-900 font-bold text-xl mb-2;
}

.detail-char-box {
   @apply text-sm leading-6;
}

.detail-char-text {
   @apply text-gray-600 break-words;
}

.container-result {
    @apply mr-8 ml-8 xl:mr-32 xl:ml-32 2xl:mr-60 2xl:ml-60 mb-32;
}

.container-grid {
    @apply grid overflow-hidden grid-cols-1 2xl:grid-cols-2 xl:grid-cols-2 grid-rows-none gap-8;
}


.errors {
    @apply grid overflow-hidden grid-cols-1 grid-rows-1 gap-2 errors-404;
}


/* CUSTOM CSS */

body {
    background: #081119;
}

.content-characters {
    background: #002128;
    border-radius: 1rem;
}

.content-characters:hover {
    background: #1b1b1b;
}

.container-search {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

img.logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 50%;
    width: 50%;
}

h2 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    background: #00ff97;
    border-radius: 0.8rem;
    margin: 1rem;
}

input, select {
    text-align: center;
    background: #002128;
    outline: none;
    border: 0;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.errors-404 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 540px) {
    .container-search {
        display: table;
    }

    .errors-404 {
        width: 50%;
    }
}
